@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }

     

     header .row .col-md-5 {
        padding: 17.2vmin 1vmin;
        padding-bottom: 35vmin;
    }

    header .row .col-md-5 img{
        width: 368px;
    } 


.section-1 .row .col-md-6 .panel{
    position: initial;
    width: initial;
    height: initial;
}

.section-2 .cover{
    background-position: -30vmin -10vmin;
}

.numbers .rect{
    width: 10rem;
    height: 8rem;
}

.numbers .rect h1{
    font-size: 2rem;
}

.section-3{
    height: inherit;
    padding: 10vmin !important;
}
.section-3 .row h1{
    padding: 6vmin 4vmin;
}
 .section-3 .col-md-12>h1 {
    padding: 1em 0 0.5em 0;
    /* color: whitesmoke; */
    /* font-size: 6vmin; */
} 
 .section-3 .col-md-12>p {
    padding: 0 3em 0.5em;
    /* padding-bottom: 2em; */
    /* color: var(--light-gray); */
    /* font-size: 3vmin; */
}
 .section-3 .row .col-md-6{ 
    text-align: center !important;
} 

.section-3 .platform .col-md-6 {
    text-align: center!important;
}


.section-3.desktop i{
    font-size: 8vmin;
}


.section-4 .carsouel-item{
    padding-left: 0rem;
}

.section-4 .team{
    display: flex;
    flex-direction: column;
    align-content: center;
}


.section-4 .carousel-inner{
    width: 30rem;
}

.section-4 .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 82.333333%;
}

.section-4 .card {
    width: 36rem;
    margin-top: 10vmin;
}

.section-4 .carousel-inner{
    width: 39rem;
}

}




@media only screen and (max-width:414px){
    .section-4 .card{
        width: 18rem;
    }
    .section-4 .col-md-4 {
        
        max-width: 91.333333%;
    }

    .section-4 .carousel-inner {
        width: 21rem;
    }

    

    header .row .col-md-5 {
        margin-top: -52vmin;
    padding-left: 1vmin;
    }

    header .row .col-md-7 {
        padding-top: 13vmin;
        
    } 
}

@media only screen and (max-width:375px){
    .section-4 .card{
        width: 18rem;
    }
    

    .section-4 .carousel {
        margin-left: -50vmin;
    }
    header .row .col-md-7 {
        padding: 15vmin 1vmin;
        padding-bottom: 30vmin;
        
    }

header .row .col-md-5 {
    
     
        padding: 19vmin 1vmin;
        margin-left: -1vmin;
    }




    .section-4 .col-md-4 {
        max-width: 98.333333%;
    }

    .section-4 .carousel-inner {
        width: 42rem;
    }
}

@media only screen and (max-width: 360px){
.section-4 .carousel-inner {
    width: 40rem;
}
}

@media only screen and (max-width: 912px){
header .row .col-md-5 {
    padding: 15vmin 2vmin 2vmin 0vmin;
        margin-left: -1vmin;
       
}

header .row .col-md-5 img{
    width: 415px;
}



 header .row {
    
    margin-top: -6vmin;
}

.section-1 .row .col-md-6 .panel{
    position: initial;
    width: initial;
    height: initial;
}
.section-2 .cover{
    background-position: -30vmin -10vmin;
}

.section-3 {
    height: inherit;
    
}

.section-4 .team{
    display: flex;
    flex-direction: column;
    align-content: center;

    padding: 10vmin 71vmin 2vmin 3vmin;

}
.section-4 .card {
    width: 43rem;
    
}

.section-4 .carousel-inner {
    width: 47rem;
}
}

@media only screen and (max-width: 1024px) and (min-width: 911px){
    header .row .col-md-5 img{
        width: 444px;
    }

    .section-2 .cover{
        background-position: -54vmin -30vmin !important;
    }

    .section-3 {
        height: inherit;
    }

    .section-4 .card {
        width: 19rem;
        margin-top: 10vmin;
    }
    
    
}
